html{
    scroll-behavior:smooth;
}
body{
    background:252525;
    font-family:"baloo tamma 2", cursive;
}
/* Main heading font */
.m-heading{
    font-family:"roboto slab", serif;
}
.text-white{
    color:white;
}
/* Main container height */  
.main-container{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-image:url('1.png');
    background-attachment:fixed;
    background-size:cover;
}
/* aligning items in the main row */
.main_row{
    display:flex;
    justify-content:center;
    align-items:center;
}
/* changing name font size */
.main_row h1{
    font-size:5rem;
}
/* making the main image the size of the screen */
.main_row img{
    width:auto;
    height:100vh;
}